.heading{
    display:flex;
    flex-wrap: column;
    justify-content: space-between;
    padding-left:3rem;
    padding-right:7rem;
    padding-top:0.5rem;
}
.btn{
    margin-left:1rem;
}
.dashboardtitle{
    margin-top: 0.5rem;
    padding-left:3.6rem;
    text-align: start;
}